<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Llistat Departaments</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Editar</th>
        <th>Eliminar</th>

    </tr>
    </br>
    </thead>
    <tbody>
    <tr th:each="dep : ${llistaDepartaments}">
        <td th:text="${dep.id}">ID</td>
        <td th:text="${dep.nom}">Pepe Pérez</td>
        <td><a th:href="@{/departaments/edit/{id}(id=${dep.id})}">Editar</a></td>
        <td><a th:href="@{/departaments/eliminar(id=${dep.id})}">Eliminar</a></td>
        <br/>

    </tr>
    </tbody>
</table>
</br>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Sortir (Sign Out)"/>
</form>
</body>
</html>